
body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 20%;
}
.highlight {
    color: #f00;
}
.actions button {
    background-color: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
.actions button:hover {
    background-color: #f00;
    color: #fff;
}
